@using SAEON.AspNet.Common
@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration config
@inject IHttpContextAccessor httpContextAccessor
@{
    List<(string id, string name)> tenants = new List<(string id, string name)>();
    var tenantList = config[Constants.TenantTenants].Split(new char[] { ';' });
    foreach (var tenantItem in tenantList)
    {
        var split = tenantItem.Split(new char[] { ',' });
        tenants.Add((split[0], split[1]));
    }
}
@if (tenants.Count > 1)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDataSource" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data Source</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownDataSource">
            @foreach (var tenant in tenants)
            {
                @Html.ActionLink(tenant.name, "SetTenant", "Home", new { Name = tenant.id }, new { @class = httpContextAccessor.HttpContext.Session.GetString(Constants.TenantSession) == tenant.id ? "dropdown-item active" : "dropdown-item" })
            }
        </div>
    </li>
}
