@{
    ViewData["Title"] = "Observations WebAPI";
}

<div class="row">
    <div class="col-md-12">
        <p>
            The South African Environmental Observation Network (SAEON) was established in 2002. SAEON is a research platform funded by the
            Department of Science and Technology (DST) and managed by the National Research Foundation (NRF).
            SAEON is mandated to establish and manage long-term environmental observatories; maintain reliable long-term environmental data sets;
            promote access to data for research and/or informed decision making; and contribute to capacity building.
        </p>
    </div>
</div>
