@{
    ViewBag.Title = "Admin";
}
<div class="row">
    <div class="col-md">
        <p>
            Administrative tasks
        </p>
        <ul>
            <li><a asp-controller="Admin" asp-action="CreateDOIs">Create DOIs</a></li>
            <li><a asp-controller="Admin" asp-action="CreateMetadata">Create Metadata</a></li>
            <li><a asp-controller="Admin" asp-action="CreateODPMetadata">Create ODP Metadata</a></li>
            <li><a asp-controller="Admin" asp-action="ImportSetup">Import Setup</a></li>
        </ul>
    </div>
</div>