<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
  </configSections>
  <connectionStrings configSource="ConnectionStrings.Config"/>
  <SubSonicService defaultProvider="ObservationsDB">
    <providers>
      <add name="ObservationsDB" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="ObservationsDB" generatedNamespace="SAEON.Observations.Data" useSPs="false" spClassName="SPs" fixPluralClassNames="true"
           excludeTableList="aspnet_Membership, aspnet_Paths, aspnet_PersonalizationAllUsers, aspnet_PersonalizationPerUser, aspnet_Profile,
              aspnet_SchemaVersions, aspnet_WebEvent_Events,
              UserQueries, UserDownloads, RefactorLog,
              vLocations, vVariables, vSensorObservations, vStationDataStreams, vStationObservations, vUserDownloads, vHomeDashboard,
              vSensorThingsAPIDatastreams, vSensorThingsAPIFeaturesOfInterest, vSensorThingsAPIHistoricalLocations, vSensorThingsAPIInstrumentDates, vSensorThingsAPILocations,
              vSensorThingsAPIObservations, vSensorThingsAPIObservedProperties, vSensorThingsAPISensors, vSensorThingsAPIStationDates, vSensorThingsAPIThings" 
           />
    </providers>
  </SubSonicService>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SubSonic" publicKeyToken="eadb47849839a332" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
