@using SAEON.Observations.QuerySite.Models
@model DataWizardModel
<div class="row">
    <div class="col-lg">Approximate # rows: @Model.Approximation.RowCount.ToString("N0")</div>
</div>
<div class="ErrorRow @(Model.Approximation.Errors.Count == 0 ? "" : "hidden")">
    @foreach (var status in Model.Approximation.Errors)
    {
    <div class="row">
        <div class="col-lg">@status</div>
    </div>
    }
</div>