@using SAEON.Observations.QuerySite.Models
@model DataWizardModel
<div>
    <strong>Copyright</strong>
    <p>
        &copy; @DateTime.Now.Year - South African Environmental Observation Network (SAEON)<br />
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
            <img alt="Creative Commons License" class="image-respoonsive footer-left-image" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
        </a>
        <br />
        <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Observations Database</span> is licensed under a <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
    </p>
    <strong>Attribution</strong>
    <p>
        Once your download is ready you will get the exact dataset citation. Please use this citation in any pulblications.
    </p>
    <p>
        Users of SAEON data are required to clearly acknowledge the source of the material derived from SAEON in the format:
        "Data was sourced from the <a href="http://www.saeon.ac.za" target="_blank">South African Environmental Observation Network (SAEON)</a>".
        If relevant, also credit other organisations involved in collection of this particular dataset (as listed in 'credit' in the metadata record).
    </p>
    <strong>Usage</strong>
    <p>
        Data, products and services from SAEON are provided "as is" without any warranty as to fitness for a particular purpose.
    </p>
    <p>
        By using this data you are accepting the license agreement and terms specified above.
        You accept all risks and responsibility for losses, damages, costs and other consequences resulting directly or indirectly from using this site
        and any information or material available from it.
    </p>
    <strong>Format</strong>
    <p>
        @{
            string[] datasource = new string[] { "CSV", "Excel", "NetCDF" };
            Html.EJ()
                .ComboBox("selectFormat")
                .Width("100")
                .AutoFill(true)
                .ShowClearButton(false)
                .Datasource(datasource)
                .Placeholder("Select a format")
                .Text("CSV")
                .Render();
        }
    </p>
</div>
<div>
    @(Html.EJ()
        .Button("btnDownloadOk")
        .Text("Accept")
        .ShowRoundedCorner(true)
        .Type(ButtonType.Button)
        .Size(ButtonSize.Medium)
        .ContentType(ContentType.TextAndImage)
        .PrefixIcon("e-icon e-righttick")
        .ClientSideEvents(e => e.Click("DataWizard.Download"))
    )
    @(Html.EJ()
        .Button("btnDownloadCancel")
        .Text("Cancel")
        .ShowRoundedCorner(true)
        .Type(ButtonType.Button)
        .Size(ButtonSize.Medium)
        .ContentType(ContentType.TextAndImage)
        .PrefixIcon("e-icon e-cancel")
        .ClientSideEvents(e => e.Click("DataWizard.DownloadClose"))
    )
</div>
@Html.EJ().ScriptManager()