@using SAEON.Observations.QuerySite.Models
@model DataWizardModel
<div class="row">
    <div class="col-md-1">
        @Html.LabelFor(i => i.StartDate)
    </div>
    <div class="col-md-11">
        @Html.EJ().DatePickerFor(i => i.StartDate).DateFormat("dd MMM yyyy").ClientSideEvents(ev => ev.Change("DataWizard.FiltersChanged"))
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        @Html.LabelFor(i => i.EndDate)
    </div>
    <div class="col-md-11">
        @Html.EJ().DatePickerFor(i => i.EndDate).DateFormat("dd MMM yyyy").ClientSideEvents(ev => ev.Change("DataWizard.FiltersChanged"))
    </div>
</div>
<script>
    function onUpdateFilters() {
        var startDate = $("#StartDate").ejDatePicker("instance").getValue();
        var endDate = $("#EndDate").ejDatePicker("instance").getValue();
        DataWizard.UpdateFilters(startDate, endDate);
    }
</script>
