<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ObservationsDB" connectionString="Data Source=.\SAEON;database=ObservationsTest;UID=sa;PWD=cocolanu;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <SubSonicService defaultProvider="ObservationsDB">
    <providers>
      <add name="ObservationsDB" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="ObservationsDB" generatedNamespace="SAEON.ObservationsDB.Data" useSPs="false" spClassName="SPs" fixPluralClassNames="true" />
    </providers>
  </SubSonicService>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SubSonic" publicKeyToken="eadb47849839a332" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>