@using SAEON.Core
@using SAEON.Observations.Auth
@using System.Configuration
@{
    ViewData["Title"] = "Create Datasets";
}

<div class="row">
    <div class="col-lg">
        <form class="md-form" method="post" action="/Admin/APICreateDatasets"  onsubmit='disableStart()'>
            <div class="form-group">
                <button id="btnStart" type="submit" class="btn btn-primary">Start</button>
            </div>
        </form>
        <ul id="ulStatus"></ul>
    </div>
</div>

@section Scripts {
    <script src="@("/node_modules/@microsoft/signalr/dist/browser/signalr.js")"></script>
    <environment include="Development">
        <script src="~/Scripts/Admin.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/Scripts/Admin.min.js"></script>
    </environment>

    <script>
        "use strict";
        setupHub('@ConfigurationManager.AppSettings["WebAPIUrl"].AddEndForwardSlash()' + 'AdminHub', '@SignalRDefaults.CreateDOIsStatusUpdate');
    </script>
}