@using SAEON.Core
@using SAEON.Observations.Auth
@inject Microsoft.Extensions.Configuration.IConfiguration config
@{
    ViewData["Title"] = "Import Setup";
}

<div class="row">
    <div class="col-md">
        <form class="md-form" method="post" enctype="multipart/form-data" onsubmit='disableStart()'>
            <div class="form-group">
                <div class="custom-file col-md-6">
                    <input type="file" class="custom-file-input" id="formFile" name="formFile" required>
                    <label class="custom-file-label" for="formFile">Choose file</label>
                </div>
            </div>
            <div class="form-group">
                <button id="btnStart" asp-controller="Admin" asp-action="APIImportSetup" class="btn btn-primary">Start</button>
            </div>
        </form>
        <ul id="ulStatus"></ul>
    </div>
</div>

@section Scripts {
    <script src="~/node_modules/@@microsoft/signalr/dist/browser/signalr.js"></script>
    <environment include="Development">
        <script src="~/js/Admin.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Admin.min.js"></script>
    </environment>

    <script>
        "use strict";
        setupHub('@config["WebAPIUrl"].AddTrailingForwardSlash()' + 'AdminHub', '@SignalRDefaults.ImportSetupStatusUpdate');
    </script>
}