@{
    ViewBag.Title = "Admin";
}
<div class="row">
    <div class="col-md">
        <p>
            Administrative tasks
        </p>
        <ul>
            <li><a asp-controller="Admin" asp-action="CreateDynamicDOIs">Create Dynamic DOIs</a></li>
        </ul>
    </div>
</div>