@{
    ViewBag.Title = "About SAEON";
}
<div class="row">
    <div class="col-md">
        <p>
            The Southern African environment is characterized by high levels of variability and biodiversity. Rainfall is a primary driver of
            the ecosystems, but its high variability limits its usefulness as an indicator of environmental change. Rainfall outcomes are
            complicated by the timing, frequency and intensity of rainfall events, as well as conditions of surface temperature, humidity,
            soil, slope and vegetation. These complexities, coupled with differential responses by thousands of species, cause uncertainty
            about the direction and extent of rainfall-induced change.
        </p>
        <p>
            Southern Africa’s indigenous biodiversity, landscapes and oceans are continuously changed by diverse and adjoining land uses
            such as mining, farming, conservation, forestry, urban sprawl, communal resource management, fishing and golf estates.
            Time-series data covering the spectrum of spatial scales is essential for reliable data on significant environmental changes,
            some of which are slow, while others may be sudden. Data obtained over short periods and at single locations offers limited value.
        </p>
        <p>
            The advance of climate change is already being observed but how and where it will impact on Southern African society remains uncertain.
            Rural communities, commonly desperate for resources and information, are particularly vulnerable to climatic variability,
            which is often aggravated by unsustainable agricultural and fishing practices, not only by those communities themselves,
            but also by commercial and illicit enterprises.
        </p>
        <p>
            Earth observation science is thus urgently required to bring more certainty about environmental change, and to enable formulation
            of adaptive and mitigating management policies and practices, for themes ranging from food production to population health.
        </p>
        <p>
            The South African Environmental Observation Network (SAEON) was established in 2002 after a process of deliberation within the research community.
        </p>
        <p>
            Following extensive consultation with its sister departments, the <a href="http://www.dst.gov.za/">Department of Science and Technology (DST)</a>
            took the lead by mandating and funding the <a href="http://www.nrf.ac.za/">National Research Foundation</a>
            to develop SAEON as an institutionalized network of departments, universities, science institutions and industrial partners.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <h2><a href="https://smcri.saeon.ac.za" target="_blank">Shallow Marine and Coastal Research Infrastructure (SMCRI)</a></h2>
        <p>
            The Shallow Marine and Coastal Research Infrastructure (SMCRI) is one of 13 large Research Infrastructures developed by the Department of Science
            and Technology (DST) as part of the South African Research Infrastructure Road-map (SARIR).
            The SMCRI was established in 2016 to develop an array of instruments and physical research platforms around the coast of South Africa and its sub-antarctic
            islands to collect long-term reliable data for scientific research to help decision makers formulate appropriate environmental policies
            to lessen the risk and vulnerability of the coastal zone to climate and global change. The SMCRI is tapping into South Africa’s
            geographical advantage by providing access to cutting edge research platforms and data at appropriate spatial and temporal scales in all the coastal biogeographic
            regions from all three oceans to stimulate innovative research and IP generation that is of global relevance. SMCRI is building on the suite of observatories,
            sentinel site and research platforms already established and maintained by the National Research Foundation’s (NRF) South AfricanEnvironmental Observation Network (SAEON)
            and the South African Institute for Aquatic Biodiversity (SAIAB).
        </p>
        <p>
            Key stakeholders of the SMCRI include Higher Education Institutions, Research institutes and councils, Department of Environmental Affairs (Branches: Oceans & Coasts, SAWS and SANBI),
            Department of Water and Sanitation, Department of Agriculture, Forestry and Fisheries, Department of Basic Education, conservation agencies, NGOs, industry
            and local & provincial government.
        </p>
        <img class=" img-fluid mx-auto d-block" src="~/Images/SMCRI Booklet-map.jpg" alt="SMCRI map" title="SMCRI map" />
    </div>
</div>
<div class="row">
    <div class="col-md">
        <h2><a href="https://efteon.saeon.ac.za" target="_blank">Expanded Freshwater and Terrestrial Environmental Observation Network (EFTEON)</a></h2>
        <p>
            The Expanded Freshwater and Terrestrial Environmental Observation Network (EFTEON) aims to provide an instrumented platform for the
            South African environmental research community, focused on socially-relevant terrestrial landscapes and their coupled hydrological systems.
        </p>
        <p>
            A multi-scale approach is taken in the design to incorporate landscape-level processes, long term assessment of key biodiversity components,
            community-wide surveys and, meteorological and micro-meteorological measurements to inform about environmental and anthropogenic change.
        </p>
        <p>
            EFTEON aims to develop six landscape level platforms representing important South African Ecosystem-Human complexes. The data products to be generated
            will be open access and include:
            <ul>
                <li>Remotely-sensed imagery</li>
                <li>Historical data relevant to the landscape</li>
                <li>Continuous time-series data
                    <ul>
                        <li>meteorological parameters</li>
                        <li>hydrological parameters</li>
                        <li>fluxes (Exchange of Energy, Water and Carbon)</li>
                    </ul>
                </li>
                <li>
                    Field samples will include:
                    <ul>
                        <li>social-ecological surveys,</li>
                        <li>biodiversity indicators,</li>
                        <li>records of disturbances (floods, droughts, pests) and</li>
                        <li>selected chemical analyses (soil, water and vegetation).</li>
                    </ul>
                </li>
            </ul>
        </p>
        <img class=" img-fluid mx-auto d-block" src="~/Images/EFTEON-7-1030x531-1-1024x528.png" alt="EFTEON map" title="EFTEON map" />
    </div>
</div>
