@{
    ViewBag.Title = "Observations Database WebAPI";
}
<div class="row">
    <div class="col-md-12">
        <p>
            The South African Environmental Observation Network (SAEON) was established in 2002. SAEON has a network of stations, both terrestrial and marine,
            around South Africa. These stations have instruments that regularly measure a variety of phenomena, like temperature and rainfall,
            in a number of offerings, like actual, cumulative, in a number of units, like °C and mm, that are saved in a database as observations.
        </p>
        <p>
            You can test the @Html.ActionLink("API", "Index", "Help", new { area = "" }, null) using <a href="https://www.getpostman.com/" target="_blank">Postman</a>.
            You can use the built-in OAuth2 authorization using the following:
            <ul>
                <li>Auth URL: https://identity.saeon.ac.za/connect/authorize</li>
                <li>Access Token URL: https://identity.saeon.ac.za/connect/token</li>
                <li>Client ID: Postman</li>
                <li>Client Secret: Postman</li>
                <li>Scope: SAEON.Observations.WebAPI</li>
                <li>Grant Type: Client credentials</li>
            </ul>
            You can then use the returned token in your calls.
        </p>
        @*<p>
            You can manually do a post to the token endpoint https://identity.saeon.ac.za/connect/token
            to get an OAuth2 bearer token that you need to use for authorization in your API calls. The post needs the following:
            <ul>
                <li>Content-Type: application/x-www-form-urlencoded</li>
                <li>grant_type: client_credentials</li>
                <li>client_id: SAEON.Observations.WebAPI</li>
                <li>client_secret: 81g5wyGSC89a</li>
                <li>scope: SAEON.Observations.WebAPI</li>
            </ul>
        </p>
        <p>
            You will get something back like this:<br />
            {<br />
            "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6ImVhbWFaY2ZCTVRiOW9V",<br />
            "expires_in": 25200,<br />
            "token_type": "Bearer"<br />
            }
        </p>
        <p>
            When you call the API you need to add an Authorization header like this:<br />
            Authorization:bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6ImVhbWFaY2ZCTVRiOW9V<br />
            Content-Type:application/json
        </p>*@
    </div>
</div>
