
@{
    ViewBag.Title = "Privacy";
}
<div class="row">
    <div class="col-lg">
        <p>
            <span class="font-weight-bold">Who we are</span><br />
            Our website address is: https://efteon.saeon.ac.za.
        </p>
        <p>
            <span class="font-weight-bold">Our commitment to privacy</span><br />
            Your privacy is important to us. To better protect your privacy we provide this notice explaining our online information practices.
        </p>
        <p>
            <span class="font-weight-bold">The information we collect</span><br />
            This notice applies to all information collected or submitted on the SAEON website. On some pages you can make requests and register to receive information. The types of personal information collected on these pages are:
            <ul>
                <li>Email address</li>
            </ul>
        </p>
        <p>
            <span class="font-weight-bold">The way we use information</span>
            <ul>
                <li>We do not share this information with outside parties.</li>
                <li>We use return email addresses to answer the email we receive. Such addresses are not used for any other purpose and are not shared with outside parties.</li>
                <li>Finally, we never use or share the personally identifiable information provided to us online in ways unrelated to the ones described above without also 
                providing you an opportunity to opt-out or otherwise prohibit such unrelated uses.</li>
            </ul>
        </p>
        <p>
            <span class="font-weight-bold">Our commitment to data security</span><br />
            To prevent unauthorised access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and 
            managerial procedures to safeguard and secure the information we collect online.
        </p>
        <p>
            <span class="font-weight-bold">How to contact us</span><br />
            Should you have other questions or concerns about these privacy policies, please call us on +27 (12) 534 3504 or send us an email at enquiries@saeon.ac.za.
        </p>
    </div>
</div>
