<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.DocumentDB" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="SAEON.Azure.CosmosDB" version="1.0.20" targetFramework="net461" />
  <package id="SAEON.Azure.Storage" version="1.0.18" targetFramework="net461" />
  <package id="SAEON.Core" version="1.0.7" targetFramework="net461" />
  <package id="SAEON.Logs" version="1.0.28" targetFramework="net461" />
  <package id="SAEON.Observations.Azure" version="1.0.10" targetFramework="net461" />
  <package id="Serilog" version="2.7.1" targetFramework="net461" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net461" />
  <package id="Serilog.Settings.AppSettings" version="2.1.2" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net461" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net461" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Seq" version="4.0.0" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net461" />
  <package id="WindowsAzure.Storage" version="9.3.2" targetFramework="net461" />
</packages>