<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ObservationDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Server=.\SAEON;Database=ObservationDB;User ID=sa;Password=cocolanu;" providerName="System.Data.SqlClient" />
    <!--<add name="ApplicationServices" connectionString="Server=.\SAEON;Database=Observations;User ID=sa;Password=cocolanu;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ApplicationServices" connectionString="Server=.\SAEON;Database=ObservationsTest;User ID=sa;Password=cocolanu;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <SubSonicService defaultProvider="ObservationsDB">
    <providers>
      <clear />
      <add name="ObservationsDB" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="ApplicationServices" generatedNamespace="Observations.Data" useExtendedProperties="false" generateLazyLoads="true" />
    </providers>
  </SubSonicService>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="false" targetFramework="4.5">
      <assemblies>
        <add assembly="Subsonic" />
        <add assembly="Ext.Net" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Default.aspx" slidingExpiration="true" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <pages enableEventValidation="false">
      <namespaces>
        <add namespace="SubSonic" />
        <add namespace="Ext.Net" />
        <add namespace="SAEON.Observations.Data" />
      </namespaces>
      <controls>
        <add tagPrefix="ext" namespace="Ext.Net" assembly="Ext.Net" />
      </controls>
    </pages>
    <httpRuntime executionTimeout="2147483647" maxRequestLength="10000" />
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>
    <machineKey decryptionKey="A44EFB10E588B134CF4EADC237C798AE98B1CA3955D6F5BF,IsolateApps" validationKey="A2660918B870C9E09625592782F300BD18F99E7747D273E0720A9979E185BC4E565C087EB6E07741EAC745CF6EEE9C9862B549D53D7AAB2E01456B760967019A,IsolateApps" />
    <globalization culture="en-GB" uiCulture="en-GB" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="info@nimbusservices.co.za">
        <network enableSsl="true" port="587" host="smtp.gmail.com" password="nacingto" userName="info@nimbusservices.co.za" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SubSonic" publicKeyToken="eadb47849839a332" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <extnet theme="Default" />
</configuration>