.icon-exclamation
{
    padding-left: 25px !important;
    background: url(/icons/exclamation-png/ext.axd) no-repeat 3px 3px !important;
}

.icon-accept1
{
    padding-left: 25px !important;
    background: url(/icons/accept-png/ext.axd) no-repeat 3px 3px !important;
}

