@{
    ViewData["Title"] = "Contact SAEON";
}
<div class="row">
    <div class="col-md-12">
        <p>
            <b>Enquiries</b><br />
            <b>General:</b><br />
            <abbr title="Phone">Tel:</abbr>+27 (12) 349 7722<br />
            <abbr title="Fax">Fax:</abbr>Fax: +27 (12) 349 7719<br />
            Email: <a href="mailto:eva@saeon.ac.za">eva@saeon.ac.za</a>
        </p>
        <p>
            <b>Observation Science:</b><br />
            Prof Tim O’Connor<br />
            <abbr title="Phone">Tel:</abbr>+27 (21) 347 5201<br />
            Email: <a href="mailto:tim@saeon.ac.za">tim@saeon.ac.za</a>
        </p>
        <p>
            <b>Information Management:</b><br />
            Wim Hugo<br />
            Email: <a href="mailto:wim@saeon.ac.za">wim@saeon.ac.za</a>
        </p>
        <p>
            <b>Education Outreach:</b><br />
            Sibongile Mokoena<br />
            <abbr title="Phone">Tel:</abbr>+27 (12) 349 7713<br />
            Email: <a href="mailto:sibongile@saeon.ac.za">sibongile@saeon.ac.za</a>
        </p>
    </div>
</div>