<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ObservationsDB" connectionString="Data Source=.\SAEON;database=ObservationDB;UID=sa;PWD=cocolanu;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <SubSonicService defaultProvider="SqlDataProvider">
    <providers>
      <add name="SqlDataProvider" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="ObservationsDB" generatedNamespace="Observations.Data" useSPs="false" spClassName="SPs" fixPluralClassNames="true" />
    </providers>
  </SubSonicService>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SubSonic" publicKeyToken="eadb47849839a332" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.3" newVersion="8.0.3" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
</configuration>