@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using SAEON.Observations.WebAPI.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}
<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div id="body" class="help-page">
            <section class="featured">
                <div class="content-wrapper">
                    <p>
                        You can also get information on the API in @Html.ActionLink("Swagger", "", "Swagger", new { area = "" }, null) format or
                        @Html.ActionLink("OData", "$metadata", "odata", new { area = "" }, null) format.
                    </p>
                </div>
            </section>
            <section class="content-wrapper main-content clear-fix">
                @foreach (var group in apiGroups)
                {
                    @Html.DisplayFor(m => group, "ApiGroup")
                }
            </section>
        </div>
    </div>
</div>
