@{
    ViewBag.Title = "Contact SAEON";
}
<div class="row">
    <div class="col-lg">
        <p>
            <b>Web site</b><br />
            <a href="https://saeon.ac.za" target="_blank">https://saeon.ac.za</a>
        </p>
        <p>
            <b>General Enquiries</b><br />
            Eva Mudau<br />
            Tel: +27 (12) 534 3504<br />
            Email: <a href="mailto:enquiries@saeon.ac.za">enquiries@saeon.ac.za</a>
        </p>
        <p>
            <b>Managing Director</b><br />
            Dr Mary-Jane Bopape<br />
            Tel: +27 (12) 534 3509<br />
            Email: <a href="mailto:mm.bopape@saeon.nrf.ac.za">mm.bopape@saeon.nrf.ac.za</a>
        </p>
        <p>
            <b>Human Resources</b><br />
            Leazill Peenze<br />
            Tel: +27 (12) 534 3506<br />
            Email: <a href="mailto:em.peenze@saeon.nrf.ac.za">em.peenze@saeon.nrf.ac.za</a>
        </p>
        <p>
            <b>Information Systems</b><br />
            SAEON Curation Team<br />
            Email: <a href="mailto:curation@saeon.nrf.ac.za">curation@saeon.nrf.ac.za</a>
        </p>
        <p>
            <b>Education Outreach:</b><br />
            Kogie Govender<br />
            Tel: +27 (12)  534 3502<br />
            Email: <a href="mailto:k.govender@saeon.nrf.ac.za">k.govender@saeon.nrf.ac.za</a>
        </p>
    </div>
</div>
