@{
    ViewBag.Title = "Observations Database";
}
@section MetaTags {
    <meta name="google-site-verification" content="X5PEowbP3hWPiigk5XU_VSVb79bjwBjAumMd0SnanjM" />
    <meta name="msvalidate.01" content="C8A2A99147917721302B2895028A760C" />
}
<div class="row">
    <div class="col-md">
        <p>
            The South African Environmental Observation Network (<a href="https://www.saeon.ac.za" target="_blank">SAEON</a>) was established in 2002.
            SAEON is a research platform funded by the Department of Science and Innovation (<a href="https://www.dst.gov.za/" target="_blank">DSI</a>) and
            managed by the National Research Foundation (<a href="https://www.nrf.ac.za/" target="_blank">NRF</a>).
            SAEON serves as a national platform for detecting, translating and predicting environmental change through scientifically designed observation systems and research.
        </p>
        <img class=" img-fluid mx-auto d-block" src="~/Images/SMCRI Booklet-map.jpg" alt="SMCRI map" title="SMCRI map" />
    </div>
</div>