@{
    ViewBag.Title = "Observations Database";
}
@section MetaTags {
    <meta name="google-site-verification" content="X5PEowbP3hWPiigk5XU_VSVb79bjwBjAumMd0SnanjM" />
    <meta name="msvalidate.01" content="C8A2A99147917721302B2895028A760C" />
}
<div class="row">
    <div class="col-md">
        <p>
            The South African Environmental Observation Network (SAEON) was established in 2002. SAEON has a network of stations, both terrestrial and marine,
            around South Africa. These stations have instruments that regularly measure a variety of phenomena, like temperature and rainfall,
            in a number of offerings, like actual, cumulative, in a number of units, like °C and mm, that are saved in a database as observations.
        </p>
    </div>
</div>