<?xml version="1.0"?>
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="Observations" connectionString="Server=.\;Database=ObservationsSACTN;User ID=sa;Password=cocolanu1#;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="Fynbos" connectionString="Server=.\;Database=ObservationsFynbos;User ID=sa;Password=cocolanu1#;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="SACTN" connectionString="Server=.\;Database=ObservationsSACTN;User ID=sa;Password=cocolanu1#;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="SAEON" connectionString="Server=.\;Database=Observations;User ID=sa;Password=cocolanu1#;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
</connectionStrings>
