<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Observations" connectionString="Server=.\SAEON;Database=ObservationsSACTN;User ID=sa;Password=cocolanu;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="serilog:minimum-level" value="Information" />-->
    <add key="serilog:minimum-level" value="Verbose" />
  </appSettings>
</configuration>
