@using SAEON.Observations.QuerySite.Models
@model HealthModel
@{
    ViewBag.Title = "Health Check";
}
<div class="row">
    <div class="col-md-12">
        <dl>
            <dt>
                Identity Service
            </dt>
            <dd>
                @Model.IdentityService
            </dd>
            <dt>
                Web Api
            </dt>
            <dd>
                @Model.WebApi
            </dd>
        </dl>
    </div>
</div>