@using SAEON.Observations.QuerySite.Models
@model QueryModel
@{
    ViewBag.Title = "Query";
    ViewBag.Description = "Locations";
}

@using (Html.BeginForm("LocationsPost", "Query", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6">
            @(Html.EJ().TreeView("treeViewLocations")
                                .TreeViewFields(field => field.Datasource(Model.Locations)
                                .Id("Key")
                                .ParentId("ParentKey")
                                .Text("Text")
                                .HasChild("HasChildren")
                                )
                                .ClientSideEvents(events => events.NodeCheck("onUpdateSelectedLocations").NodeUncheck("onUpdateSelectedLocations"))
                                .ShowCheckbox(true)
                                .EnablePersistence()
            )
        </div>
        <div class="col-md-6" id="PartialSelectedLocations">
            @Html.Partial("SelectedLocations", Model)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Features" name="btnNext" class="btn btn-default" />
        </div>
    </div>
}
<script type="text/javascript">
    function onUpdateSelectedLocations() {
        treeObj = $("#treeViewLocations").data('ejTreeView');
        var checkedNodes = treeObj.getCheckedNodes();
        var selectedLocations = []
        for (i = 0; i < checkedNodes.length; i++) {
            var checkedNode = checkedNodes[i];
            var nodeData = treeObj.getNode(checkedNode);
            selectedLocations.push(nodeData.id);
        }
        //if (selectedLocations.length > 0)
        ajaxUpdateSelectedLocations(selectedLocations);
    }
    function ajaxUpdateSelectedLocations(selectedLocations) {
        $.ajax({
            url: "/Query/UpdateSelectedLocations",
            data: JSON.stringify({ Locations: selectedLocations }),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                //alert(data)
                $('#PartialSelectedLocations').html(data);
            },
            error: function () {
                alert("Oops");
            }
        });
    }
</script>
