@using SAEON.Observations.QuerySite.Models
@model QueryModel
<div class="row">
    <div class="col-md-12">
        Select the locations and features you want to query then click on Search in the Filter tab.
    </div>
</div>
