@if (Request.IsAuthenticated)
{
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        @*        @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })*@
        <a class="dropdown-item" href="#">Still to come 1</a>
        <a class="dropdown-item" href="#">Still to come 2</a>
    </div>
</li>
}

