@using SAEON.Observations.Core
@if (User.IsAdmin())
    {
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
            <a class="dropdown-item" href="#">Import Setup</a>
            <a class="dropdown-item" href="#">Generate Dynamic DOIs</a>
        </div>
    </li>
    }

