
@{
    ViewBag.Title = "Forbidden";
}
<div class="row">
    <div class="col-sm">
        <h2 class="text-danger">Forbidden</h2>
        <h3 class="text-danger">Oops! You are forbidden to use this form</h3>
    </div>
</div>

