.bg-SAEON {
    background-color: #567baf;
}

#Body {
    padding: 15px;
}

/*#Page {
    padding: 10px;
    margin: 10px;
}*/

/*#Header {
    margin: 5px;
    padding: 5px;
}*/

.Logo {
    margin: 5px;
}

#Footer {
    font-size: x-small;
}

/*
.page-header {
    margin-top: 0;
    padding-top: 0;
}

body {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #567baf;
}

#Body {
    padding-right: 50px;
}

#Page {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    background-color: white;
    color: black;
}

#Footer
{
    font-size: x-small;
}

.Logo {
    margin-bottom: 10px;
}

.navbar-inverse {
    background-color: #567baf;
    border-color: #567baf;
}

.ButtonRow {
    padding-top: 5px;
}

.ErrorRow {
    color: red;
}

.body-content {
    padding-right: 50px;
}
*/