<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-default" href="~/Account/CallApi">Call API from MVC</a>
    </div>
</div>


<div class="row">
    <div class="col-md-12">

        <dl>
            @foreach (var claim in System.Security.Claims.ClaimsPrincipal.Current.Claims)
            {
                <dt>
                    @claim.Type
                </dt>
                <dd>
                    @claim.Value
                </dd>
            }
        </dl>
    </div>
</div>


