@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="row">
    <div class="col-md-12">
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>

