@{
    ViewBag.Title = "Register";
    ViewBag.Description = "Create an account";
}

<div class="row">
    <div class="col-md-12">
        <p>
            Thank you for registering an account for the SAEON Observation Database. An email has been sent to your email address,
            please click on the link to confirm your account. If you don't see such an email then check in you spam folder.
        </p>
    </div>
</div>