@using SAEON.Observations.QuerySite.Models
@model InventoryModel
<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(i => i.StartDate)
    </div>
    <div class="col-md-10">
        @Html.EJ().DatePickerFor(i => i.StartDate).DateFormat("dd MMM yyyy").ClientSideEvents(ev => ev.Change("onUpdateFilters"))
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(i => i.EndDate)
    </div>
    <div class="col-md-10">
        @Html.EJ().DatePickerFor(i => i.EndDate).DateFormat("dd MMM yyyy").ClientSideEvents(ev => ev.Change("onUpdateFilters"))
    </div>
</div>
<script type="text/javascript">
    function onUpdateFilters() {
        var startDate = $("#StartDate").ejDatePicker("instance")._dateValue;
        var endDate = $("#EndDate").ejDatePicker("instance")._dateValue;
        $.ajax({
            url: "/Inventory/UpdateFilters",
            data: JSON.stringify({
                StartDate: startDate,
                EndDate: endDate
            }),
            async: false,
            type: "POST",
            contentType: "application/json",
            error: function (jqXHR, textStatus, errorThrown) {
                ErrorInFunc("Error in UpdateFilters Status: " + textStatus + " Error: " + errorThrown);
            }
        })
    }
</script>
