@{
    ViewBag.Title = "Observations Database";
}
@section MetaTags {
    <meta name="google-site-verification" content="X5PEowbP3hWPiigk5XU_VSVb79bjwBjAumMd0SnanjM" />
    <meta name="msvalidate.01" content="C8A2A99147917721302B2895028A760C" />
}
<div class="row">
    <div class="col-md">
        <p><img class="UnderConstruction" src="~/Images/UnderConstruction1.png" alt="Under construction" title="Under construction" /></p>
        <p>
            We are working hard on the development of the Observations Database Query site. Please check back soon to see if the new site is available. 
            You can try the <a href="https://observations-test.saeon.ac.za">test Query site</a> which has limited functionality.
        </p>
        <p>
            The Southern African environment is characterized by high levels of variability and biodiversity. Rainfall is a primary driver of the ecosystems,
            but its high variability limits its usefulness as an indicator of environmental change. Rainfall outcomes are complicated by the timing, frequency
            and intensity of rainfall events, as well as conditions of surface temperature, humidity, soil, slope and vegetation. These complexities,
            coupled with differential responses by thousands of species, cause uncertainty about the direction and extent of rainfall-induced change.
        </p>
        <p>
            Southern Africa’s indigenous biodiversity, landscapes and oceans are continuously changed by diverse and adjoining land uses such as mining, farming,
            conservation, forestry, urban sprawl, communal resource management, fishing and golf estates. Time-series data covering the spectrum of spatial scales
            is essential for reliable data on significant environmental changes, some of which are slow, while others may be sudden. Data obtained over short periods
            and at single locations offers limited value.
        </p>
        <p>

            The advance of climate change is already being observed but how and where it will impact on Southern African society remains uncertain.
            Rural communities, commonly desperate for resources and information, are particularly vulnerable to climatic variability, which is often
            aggravated by unsustainable agricultural and fishing practices, not only by those communities themselves, but also by commercial and illicit enterprises.
        </p>
        <p>
            Earth observation science is thus urgently required to bring more certainty about environmental change, and to enable formulation of adaptive
            and mitigating management policies and practices, for themes ranging from food production to population health.
        </p>
        <p>
            The South African Environmental Observation Network (SAEON) was established in 2002 after a process of deliberation within the research community.
        </p>
        <p>
            Following extensive consultation with its sister departments, the <a href="http://www.dst.gov.za/">Department of Science and Technology (DST)</a>
            took the lead by mandating and funding the <a href="http://www.nrf.ac.za/">National Research Foundation</a>
            to develop SAEON as an institutionalized network of departments, universities, science institutions and industrial partners.
        </p>
    </div>
</div>