@using SAEON.Observations.QuerySite.Models
@model SpacialCoverageModel
<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(i => i.StartDate)
    </div>
    <div class="col-md-10">
        @Html.EJ().DatePickerFor(i => i.StartDate).StartLevel(Period.Year).DepthLevel(Period.Year).DateFormat("MMM yyyy").ClientSideEvents(ev => ev.Change("onUpdateFilters"))
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(i => i.EndDate)
    </div>
    <div class="col-md-10">
        @Html.EJ().DatePickerFor(i => i.EndDate).StartLevel(Period.Year).DepthLevel(Period.Year).DateFormat("MMM yyyy").ClientSideEvents(ev => ev.Change("onUpdateFilters"))
    </div>
</div>
